<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="rolForm">
      <div class="form-group">
        <label for="dateOfBirth2">rol</label>
        <div class="input-group">
  
          <input id="dateOfBirth2" class="form-control" placeholder="rol" name="dp" formControlName="rol_descripcion">
  
        </div>
      </div>
      <div class="form-group">
        <label for="dateOfBirth2">Estado</label>
        <div class="input-group">
  
          <input id="dateOfBirth2" class="form-control" placeholder="estado" name="dp" formControlName="rol_estado">
  
        </div>
      </div>
    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="edit()">Save</button>
    </div>
  </div>

